<h2>List of all products</h2>
<div class = "center">
    <table>
    <tr>
        <th>Product Code</th>
        <th>Name</th>
        <th>Options</th>
        <% if admin_logged_in?%>
            <th>Delete</th>
        <% end %>
    </tr>
    <% @products.each do |product| %>
        <tr>
            <td><%=product['product_code']%></td>
            <td><%=product['name']%></td>
            <td><a href="/product/<%=product['product_code']%>">view </a>
                <% if admin_logged_in?%>
                	&nbsp;<a href="/product/update/<%= product["product_code"]%>">Update</a>
                <td>
                    <form action="/product/delete/<%= product["product_code"]%>" method='post'>
                        <input type="hidden" name="_method" value="delete">
                        <button>delete</button>
                    </form>
                </td>
                <% end %>
            </td>
        </tr>
    <%end%>
    </table>
</div>